{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tareas</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
    {% include 'barra_navegacion.html' %}
    <div class="container">
        {% block contenido %}{% endblock contenido %}
    </div>
</body>

</html>